
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-sm-5">
          <img src="/assets/motor-carrier.jpg" alt="" class="">
        </div>
        <div class="col-sm-5">
          <h1 class="text-primary">
            <div class="display-5 fw-bold">Summit 2023</div>
          </h1>
            <p class="text-light">Grocery Transportation Summit 2014 will be an opportunity for grocery managers and
              directors to
              gather together and share ideas and challenges. Proudly hosted by CAMS Software, attendees will assemble
              in
              a relaxed and picturesque setting to discuss regional dispatch centers, networked distribution models,
              revolutionary advances in routing, backhaul, and salvage optimization, enterprise visibility and more.</p>
          <a href="#registration" class="btn btn-lg btn-primary text-white">Register Now</a>
          
        </div>
      </div>
    </div>
