<div class="container-lg">
    <div class="text-center text-primary ">
        <h2 class="display-5 fw-bold">Who Should Attend</h2>
    </div>

    <div class="row justify-content-center my-5">

        <div class="col-sm-3">
            <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In minima ducimus excepturi
                quasi
                tempore fugit quis
                voluptatibus aut error possimus, tenetur natus magni quam voluptatem quae eligendi repudiandae delectus
                eaque!</p>
        </div>
        <div class="col-sm-3">
            <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In minima ducimus excepturi
                quasi
                tempore fugit quis
                voluptatibus aut error possimus, tenetur natus magni quam voluptatem quae eligendi repudiandae delectus
                eaque!</p>
        </div>
        <div class="col-sm-3">
            <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In minima ducimus excepturi
                quasi
                tempore fugit quis
                voluptatibus aut error possimus, tenetur natus magni quam voluptatem quae eligendi repudiandae delectus
                eaque!</p>
        </div>

    </div>
</div>