<div class="container-md">
    <div class="text-center">
        <h2 class="text-primary display-5 fw-bold">Schedule</h2>
        <p class="lead text-muted">Upcoming Activities</p>
    </div>
    <!-- <div class="row my-5 g-5 justify-content-around align-items-center">
        <div class="col-6 col-lg-4">
          <img src="/assets/calendar.png" class="img-fluid" alt="ebook">
        </div>
        <div class="col-lg-6"> -->

    <!-- accordion -->
    <div class="accordion" id="chapters">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1"
                    aria-expanded="true" aria-controls="chapter-1">
                    Monday, August 1st
                </button>
            </h2>
            <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1"
                data-bs-parent="#chapters">
                <!-- <div class="accordion-body">
                  <p>Registration Day</p>
                </div> -->

                <ul class="list-timeline list-timeline-primary accordion-body">
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 -
                                10:00</span> - Registration</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 -
                                13:00</span> - Lunch Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-4">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 -
                                15:00</span> - Anthony Jonas</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> Talk:
                            OpenData / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 -
                                16:00</span> - Coffee Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-6">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 -
                                18:00</span> - Jesscia Lawrence</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-6"> Talk:
                            Ninja coding / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 -
                                23:00</span> - After conference</p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#chapter-2" aria-expanded="false" aria-controls="chapter-2">
                    Tuesday, August 2nd
                </button>
            </h2>
            <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                data-bs-parent="#chapters">
                <ul class="list-timeline list-timeline-primary accordion-body">
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 -
                                10:00</span> - Registration</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 -
                                13:00</span> - Lunch Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-4">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 -
                                15:00</span> - Anthony Jonas</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> Talk:
                            OpenData / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 -
                                16:00</span> - Coffee Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-6">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 -
                                18:00</span> - Jesscia Lawrence</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-6"> Talk:
                            Ninja coding / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 -
                                23:00</span> - After conference</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-1">
                    Wednesday, August 3rd
                </button>
            </h2>
            <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                data-bs-parent="#chapters">
                <ul class="list-timeline list-timeline-primary accordion-body">
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 -
                                10:00</span> - Registration</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 -
                                13:00</span> - Lunch Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-4">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 -
                                15:00</span> - Anthony Jonas</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> Talk:
                            OpenData / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 -
                                16:00</span> - Coffee Break</p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse"
                        data-target="#day-1-item-6">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 -
                                18:00</span> - Jesscia Lawrence</p>
                        <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-6"> Talk:
                            Ninja coding / <span class="text-primary">Room 31</span> </p>
                    </li>
                    <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 -
                                23:00</span> - After conference</p>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <!-- </div>
      </div> -->
</div>